<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
  <body>
    <header>
      <h1>Find-a-Teammate</h1>
      <nav>
        <ul>
          <li><a href="/">Find Teammates</a></li>
          <li class="active"><a href="/profile">Profile</a></li>
        </ul>
      </nav>
    </header>

    <main class="editprofile">
      <section class="loadout">
        <form action="/editprofile" method="POST">

          <div>
          <label for="primary">Primary</label>
          <input
            type="text"
            placeholder="Primary"
            name="primary"
            required
            value="<%= user.primary %>"
          />
        </div>

        <div>
          <label for="secondary">Secondary</label>
          <input
            type="text"
            placeholder="Secondary"
            name="secondary"
            required
            value="<%= user.secondary %>"
          />
        </div>

        <div>
          <label for="operator">Operator</label>
          <input
            type="text"
            placeholder="Operator"
            name="operator"
            required
            value="<%= user.operator %>"
          />
        </div>

        <div>
          <label for="perk1">Perk 1</label>
          <input
            type="text"
            placeholder="Perk 1"
            name="perk1"
            required
            value="<%= user.perk1 %>"
          />
        </div>

        <div>
        <label for="perk2">Perk 2</label>
        <input
            type="text"
            placeholder="Perk 2"
            name="perk2"
            required
            value="<%= user.perk2 %>"
          />
        </div>

        <div>
          <label for="perk3">Perk 3</label>
          <input
            type="text"
            placeholder="Perk 3"
            name="perk3"
            required
            value="<%= user.perk3 %>"
          />
        </div>

      </section>

      <section class="profiles">

        <div>
        <label for="username">Username</label>
        <input
            type="text"
            placeholder="Username"
            name="username"
            required
            value="<%= user.username %>"
          />
        </div>

        <div>
          <label for="platform">Platform</label>
          <input
          type="text"
          placeholder="Platform"
          name="platform"
          required
          value="<%= user.platform %>"
        />
        </div>

        <div>
        <label for="age">Age</label>
        <input
            type="text"
            placeholder="Age"
            name="age"
            required
            value="<%= user.age %>"
          />
        </div>
          <button type="submit">Update Changes</button>
        </form>
      </section>
   
    </main>
  </body>
</html>
